body {
  padding: 30px;
}
.container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.right-box {
  position: fixed;
  right: 50px;
  top: 20px;
}
.info {
  font-size: 1.4rem;
}

.shape {
  width: 220px;
  height: 220px;
  position: absolute;
  background: blue;
  color: white;
  left: 0;
  top: 0;
}
.shape__first {
  width: 130px;
  height: 130px;
  background: red;
  left: 5px;
  top: 5px;
}

.box {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  margin-right: 1rem;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #fbafe3;
  background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
  background-color: #ff5bb0;
  border-radius: 6px;
  border: 1px solid #ee1eb5;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c70067;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
  background-color: #ef027d;
}
.myButton:active {
  position: relative;
  top: 1px;
}
